@model HomeIndexVM
@{
ViewData["Title"] = "Home Page";
}



<div class="container-fluid px-md-5">
    <div class="row">
        <div class="col-md-2">
            <h3>Новости</h3>
            @if (Model.News != null && Model.News.Any())
            {
                <div class="row">
                    @foreach (var news in Model.News)
                    {
                        <div class="news-card">
                            <img src="@news.ImgUrl" class="img-fluid rounded-start" alt="Event Image">
                            <div class="card-body">

                                <p class="news-data">@news.PublicationTime.ToShortDateString()</p>
                                <h5 class="news-name">@news.Name</h5>
                                <p class="news-description">@news.Description</p>
                            </div>
                        </div>
                    }
                </div>
            }  
        </div>
        <div class="col-md-7">
            <div class="events px-md-5">
                @foreach (var Event in Model.Events)
                {
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@Event.ImgPath" class="img-fluid rounded-start" alt="Event Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text">@Event.DateTime.ToShortDateString()</p>
                                    <h5 class="card-title">@Event.EventName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="links">
                <h4>Ссылки</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Media</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

