@model SPNR_Web.Models.DataBase.Event

@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Event</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="post" class="row w-auto" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" data="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" data="@Model.Description"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTime" class="control-label"></label>
                    <input asp-for="DateTime" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="ImgPath" type="hidden" />
                    <input type="file" name="file" class="mb-1 mt-1 form-control" data="@Model.ImgPath"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @{
                        if (Model.Id != Guid.Empty)
                        {
                            <a asp-controller="Constructor" asp-action="EventDelete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                        }
                    }
                </div>
            </div>
            <div class="form-group col-6">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control">@Model.Text</textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </form>
       
    </div>
</div>

@section scripts
{
    <partial name="_TinyMCEPartial"/>
    <partial name="_ValidationScriptsPartial" />
}